body {
    background-image: url("Kid2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    
}
.navbar{
    list-style-type: none;
    padding: 10px;
    text-align: right;
}
.navbar li{
    display: inline;
    margin: 0 20px;
}
.navbar a{
    color: rgb(232, 239, 232);
    text-decoration: none;
    padding: 10px 10px;
    transition: background 0.3s;
}
.navbar a:hover{
    background-color:gray;
}
.intro{
    color: white;
    background-color: rgb(41, 56, 42);
    display: inline;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;

}
#home .pragraph1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: justify;
    margin-left: 550px;
    margin-right: 100px;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
}
#home img{
    width: 80%;
    max-width: 500px;
    height: auto;
    float: left;
    margin-left: 30px;
}
#new_home img{
    width: 80%;
    max-width: 500px;
    height: auto;
    float: left;
    margin-left: 30px;
}
.home_page{
    background-image: url("kid4.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}
.home_page .pragraph1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: justify;
    margin-left: 550px;
    margin-right: 100px;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
}
footer{
    background-color: rgba(8, 8, 8,0.7);
    color: white;
    text-align: center;
    position: relative;
    padding: 50px 0;
    bottom: 0;
    width: 100%;
}
footer .footer_navbar a{
    color: rgb(36, 3, 249);
    text-decoration:wavy;
    padding: 10px 10px;
    transition: background 0.3s;
    text-align: center;
}
.footer_navbar a:hover{
    background-color:gray;
}